<h1>Formulário</h1>
<div class="d-flex justify-content-end">

  <button class="btn btn-primary">Novo</button>
</div>
<table class="table table-striped" width="100%">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Código</th>
      <th>Descrição</th>
      <th>Expira em</th>
      <th>Criado por</th>
    </tr>
  </thead>
  <tbody>
    <tr routerLink="/createForm" routerLinkActive="active">
      <td>Censo demográfico 2022</td>
      <td>IBGE-CD2022</td>
      <td>Censo demográfico 2022</td>
      <td>10/06/2022 12:00:00</td>
      <td>Mim</td>
    </tr>
  </tbody>
</table>
