<h1>Formulário</h1>
<div class="d-flex justify-content-end">

  <button mat-button class="btn btn-success" (click)="openFormDialog('add')">
    <mat-icon>add</mat-icon>
    Adicionar
  </button>
</div>
<br>

<table class="table table-striped" width="100%">
  <thead>
    <tr>
      <th>#</th>
      <th>Nome</th>
      <th>Descrição</th>
      <th>Expira em</th>
      <th>Ações</th>
    </tr>
  </thead>
  <tbody *ngFor="let form of forms">
    <tr style="vertical-align: baseline;">
      <td>{{form.id}}</td>
      <td>{{form.name}}</td>
      <td>{{form.description}}</td>
      <td>{{form.expiredAt}}</td>
      <td class="d-flex">
        <button mat-button class="btn btn-sm btn-primary" [routerLink]="['/form-builder', {formId: form.id}]">
          <mat-icon>visibility</mat-icon>
        </button>
        <button mat-button class="btn btn-sm btn-warning" (click)="openFormDialog('edit', form)">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-button class="btn btn-sm btn-danger" (click)="openFormDialog('delete', form)">
          <mat-icon>delete</mat-icon>
        </button>
        <button mat-button class="btn btn-sm mx-1 btn-primary" [routerLink]="['/form-execution', {formId: form.id}]">
          <mat-icon>notes</mat-icon>
          Responder
        </button>
      </td>
    </tr>
  </tbody>
</table>
