<h1>Responder formulário</h1>
<table class="table table-striped" width="100%">
  <thead>
    <tr>
      <th>#</th>
      <th>Nome</th>
      <th>Descrição</th>
      <th>Expira em</th>
    </tr>
  </thead>
  <tbody>
    <tr style="vertical-align: baseline;">
      <td>{{form.id}}</td>
      <td>{{form.name}}</td>
      <td>{{form.description}}</td>
      <td>{{form.expiredAt}}</td>
    </tr>
  </tbody>
</table>
<div class="fields">
  <div class="field" *ngFor="let formField of formFields; let index = index">
    <div *ngIf="formField.fieldId != 2">
      <span class="mx-3">#{{index + 1}}</span>
      <mat-form-field>
        <mat-label for="field-type">{{formField.description}}</mat-label>
        <input matInput type="text" name="field-value" (ngModel)="formField.data"
          (ngModelChange)="changeValue($event, index)" [value]=" formExecution[index]?.answer">
      </mat-form-field>
    </div>
    <div *ngIf="formField.fieldId == 2">
      <span class="mx-3">#{{index + 1}}</span>
      <mat-form-field>
        <mat-label for="field-type">{{formField.description}}</mat-label>
        <textarea matInput name="field-value" (ngModel)="formField.data" (ngModelChange)="changeValue($event, index)"
          [value]="formExecution[index]?.answer"></textarea>
      </mat-form-field>
    </div>
  </div>
</div>

<!-- <button class="btn btn-primary" (click)="saveFields()">Salvar</button> -->
<div class="d-flex justify-content-center">
  <button mat-button class="btn btn-success" (click)="saveFields()">
    <mat-icon>save</mat-icon>
    Salvar Respostas
  </button>
</div>
